<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
          ripple
        >
          <v-list-item-action>
            <v-img max-width="32" max-height="32" :src="item.icon" />
          </v-list-item-action>
          <v-list-item-content>
            <v-btn :href="item.link" target="_blank">
              <v-list-item-title v-text="item.title" />
            </v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :fixed="fixed" app>
      <span>Ali El Ali CoKoala 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Home',
          to: '/',
        },
        {
          icon: require('@/assets/socialIcons/github-logo.svg'),
          title: 'Github',
          link: 'https://github.com/koalazub',
          color: 'purple',
        },
        {
          icon: require('@/assets/socialIcons/icons8-hackerrank.svg'),
          title: 'Hackerrank',
          link: 'https://www.hackerrank.com/elkoali',
          color: 'green',
        },
        {
          icon: require('@/assets/socialIcons/linkedin.svg'),
          title: 'LinkedIn',
          link: 'https://www.linkedin.com/in/cokoali/',
          color: 'blue',
        },
        {
          icon: require('@/assets/socialIcons/gitlab-icon.svg'),
          title: 'Gitlab',
          link: 'https://gitlab.com/FicKoala',
          color: 'orange',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Ali El Ali - Software Developer',
    }
  },
}
</script>
