<template>
  <v-card style="margin-bottom: 5%">
    <v-card-title class="headline">
      <h2>Mobile, Apps & Games Developer</h2>
      <v-card-text>
        <div>
          A software developer with 4 years' experience in the field. I've
          worked on full-stack web and app projects professionally, along with
          experiences in serious games such as simulations and training. Hope
          you enjoy my raw site until I revamp it all!
        </div>
      </v-card-text>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'Bio',
}
</script>

<style scoped></style>
