<template>
  <v-flex style="margin: 2.5%">
    <div style="width: 200px">
      <v-switch
        :color="$vuetify.theme.dark ? 'purple' : 'dark'"
        label="Toggle Dark Mode"
        @click="$vuetify.theme.dark = !$vuetify.theme.dark"
      />
    </div>
    <Bio />
    <MenuItems />
    <v-row align="center">
      <v-col class="text-center">
        <v-btn
          color="#8D1632"
          href="mailto:elali@cokoala.me?subject=Fact:  Brain cells react in just 6 seconds to alcohol"
        >
          Reach Out!</v-btn
        >
      </v-col>
    </v-row>
  </v-flex>
</template>

<script>
import Bio from './Bio'
import MenuItems from './roles/menu-items'

let isDark = false
export default {
  components: {
    Bio,
    MenuItems,
  },
  methods: {
    toggleIsDark() {
      isDark = !isDark
      return isDark
    },
  },
}
</script>
