<template>
  <v-card>
    <v-tabs
      v-model="tab"
      grow
      show-arrows
      background-color="#B01C3E"
      color="white"
    >
      <v-tab v-for="item in items" :key="item">
        {{ item }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item">
        <component :is="(component = item)" />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import apps from './roles/apps'
import games from './roles/games'
import webDev from './roles/webDev'
import dataStructs from './roles/dataStructs'
import databases from './roles/databases'
import machineLearning from './roles/machineLearning'
import fun from './roles/fun'

// noinspection SpellCheckingInspection
export default {
  name: 'Programmingrole',
  components: {
    apps,
    games,
    webDev,
    dataStructs,
    databases,
    machineLearning,
    fun,
  },
  data() {
    return {
      tab: null,
      items: [
        'apps',
        'games',
        'webDev',
        'dataStructs',
        'databases',
        'machineLearning',
        'fun',
      ],
      component: null,
    }
  },
}
</script>

<style scoped></style>
