<template>
  <div style="align-items: center">
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
            Mobile App Development
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Flutter and Unity development projects
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      :lazy-src="merrikhsImage"
      :src="merrikhsImage"
      alt="apps img"
      class="mx-auto"
      contain
      max-height="500"
      max-width="900"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item three-line class="JobDescriptionCard">
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
            Merrikh's Bolide
          </v-list-item-title>
          Merrikh’s Bollide - created via Unity - was packaged, approved and
          published on both the App Store and Google Play. The game was
          originally meant only for PC, but we had some spare time toward the
          end of the project’s development phase to miniaturise it and prepare
          it for mobile. Mind you - even only in 2016 - it was still quite
          frustrating to ensure performance was high enough to function as there
          were no dedicated graphics processors in mobile devices at the time.
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      :lazy-src="auraImg"
      :src="auraImg"
      alt="apps img"
      class="mx-auto"
      contain
      max-height="500"
      max-width="900"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
            Aura - An RPG Mood Modifier App
          </v-list-item-title>
          Currently in development - Aura stands to represent an RPG mood
          modifier for when you're getting into the role of a game that you are
          playing. The app itself utilised Flutter and Firebase. With Auth
          currently being developed for more personalised content. The app
          demonstrates HTTP requests in an async fashion for faster performance.
        </v-list-item-content>
      </v-list-item>
    </v-card>

    <v-img
      :lazy-src="parslImg"
      :src="parslImg"
      alt="parsl img"
      class="mx-auto"
      contain
      max-height="500"
      max-width="900"
    />

    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
            Parsl - Cannabis, Logistics and Supply Chain App
          </v-list-item-title>
          Working in a team of 5, I worked my into the lead app developer role,
          specialising in Flutter mobile development that utilised SQL, AWS and
          Flutter/Dart. My role was to coordinate with other team members on
          squashing bugs, implementing new features for new customers and inform
          the execs on strengths/weaknesses in the project and how to resolve
          them.
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Apps',
  data() {
    return {
      merrikhsImage: require('assets/images/merrikhsTitleSCreen.webp'),
      auraImg: require('assets/images/appLibrary.webp'),
      parslImg: require('assets/images/Parsl.png'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
