<template>
  <div>
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content class="centerContent">
          <v-list-item-title class="headline mb-1">
            Data Structures and Algorithms
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Learning best practices to develop performant code
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      class="mx-auto"
      style="padding: 2.5%"
      :src="dataStructsImage"
      alt="apps img"
      max-width="900"
      max-height="500"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        This is one of those key things that every programmer is supposed to
        learn, and so I did. Using data structures and algorithms, I learned
        about optimisation techniques and design principles to maximise the
        performance when working on projects involving games or apps. I learned
        things like writing to .csv files, sorting and behaviour trees to
        implement performant code.
      </v-list-item>
    </v-card>
    <v-img
      class="mx-auto"
      style="padding: 2.5%"
      :src="sortingImage"
      alt="apps img"
      max-width="960"
      max-height="500"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <h2>Sorting Algorithms</h2>
      <v-list-item style="padding: 2.5%">
        Using C++, I wanted to approach the methods of learning design
        principles as close to the metal as I could, but not to the point of
        insanity(not yet, anyway). I began by learning sorting algorithms.
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'DataStructs',
  data() {
    return {
      dataStructsImage: require('assets/images/bst.webp'),
      sortingImage: require('assets/images/SortingMenu.webp'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
