<template>
  <div>
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content class="centerContent">
          <v-list-item-title class="headline mb-1">
            Databases
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Understanding the methods in which data is stored
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      class="mx-auto"
      style="padding: 2.5%"
      :src="firebaseImg"
      alt="apps img"
      max-width="900"
      max-height="700"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        Using Firebase - I created a database that would store music and
        metadata related to the files. Other information that was stored were
        things related to the music itself i.e. song title and genre. Doing so
        allowed me to better preserve space on each users' phone by giving them
        the opportunity to stream their music before downloading it.
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Databases',
  data() {
    return {
      firebaseImg: require('assets/images/FirebaseAnalytics.webp'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
