<template>
  <div>
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content class="centerContent">
          <div class="overline mb-4">Interdisciplinary Skills</div>
          <v-list-item-title class="headline mb-1">
            When You Get that Bright Idea
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Projects mixing software and hardware
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      class="mx-auto"
      style="padding: 2.5%"
      :lazy-src="funImg"
      :src="funImg"
      alt="apps img"
      max-width="900"
      max-height="700"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        Although it remains to be seen - I’ve been working on mixing hydroponics
        and software to optimise the growth of plants. I’ve been learning to use
        sensors built on Arduino and C to communicate between the server and the
        controller. I hope to automate the process of growing plants one day.
      </v-list-item>
    </v-card>
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <h2>Extra-curricular</h2>
      <v-list-item style="padding: 2.5%">
        As well as growing plants - I still like to develop games. I’m currently
        working on a game based on game theory, addressing problems derived from
        the philosophy of zero-sum games and social conventions like revenge.
        All this is packed in a comedic fashion that involves some animals
        living an anthropomorphic lifestyle.
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Fun',
  data() {
    return { funImg: require('assets/images/babiesGrownUp.png') }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
