<template>
  <div class="mx-auto">
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
            Video Game Development
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Development of multiple video games using different game engines and
            languages
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <iframe
      class="centerContent"
      src="https://www.youtube.com/embed/7o44pGg-wpw"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <h1>Merrikh's Bolide</h1>
      <v-list-item style="padding: 2.5%">
        During 2017 our team developed a game that was to be packaged for
        mobile. We worked on a game called Merrikh’s Bolide, a 3D space shooter
        traversal game. This game used Unity and C# and involved movement in
        3-dimensional space and inputs by the user to destroy objects as well as
        functional menu controls
      </v-list-item>
    </v-card>
    <v-img class="mx-auto">
      <iframe
        class="centerContent"
        src="https://www.youtube.com/embed/M9xvIS1jxbQ"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </v-img>
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <a href="https://koalazub.itch.io/dish-pig-dilemma" target="_blank">
        <h1>Dish Pig Dilemma</h1>
      </a>
      <v-list-item style="padding: 2.5%">
        During 2017 our team developed a game that was to be packaged for
        mobile. We worked on a game called Merrikh’s Bolide, a 3D space shooter
        traversal game. This game used Unity and C# and involved movement in
        3-dimensional space and inputs by the user to destroy objects as well as
        functional menu controls
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Games',
  data() {
    return {
      merrikhsImage: require('assets/images/merrikhsBolide.png'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  min-width: 85%;
  height: 315px;
}
</style>
