<template>
  <div>
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="900"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content class="centerContent">
          <v-list-item-title class="headline mb-1">
            Artificial Intelligence, Deep Learning, Machine Learning
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Newest undertaking - still learning
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      class="mx-auto"
      style="padding: 2.5%"
      :lazy-src="machineLearningImages"
      :src="machineLearningImages"
      alt="apps img"
      max-width="900"
      max-height="700"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        Being extremely interested in this field - I’ve begun learning about all
        things AI related. I was approached early on to work on image
        recognition software that uses ML - but it was unable to be completed
        due to time constraints, as well as my own inexperience in the
        field(literally the first time I’d even started learning it!). Since
        then I’ve been using frameworks such as Tensorflow & Keras and
        classifiers such as fastai and the like. It’s brought about a new level
        of motivation for me to program in lower level languages such as C++.
      </v-list-item>
    </v-card>
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-img
        class="mx-auto"
        style="padding: 2.5%"
        :lazy-src="imageClass"
        :src="imageClass"
        alt="apps img"
        max-width="900"
        max-height="700"
      />
      <h1>Image Classification</h1>
      <v-list-item style="padding: 2.5%">
        To better understand the process - I implemented a means of image
        recognition based on two datasets. I decided to take it in another
        direction by teaching it the various types of chillies using parameters
        such as colour. I have the intention of teaching it to estimate the
        scoville units of each chilli based on shape and colour at a later date,
        so stay tuned!
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'MachineLearning',
  data() {
    return {
      machineLearningImages: require('assets/images/performingTraining.webp'),
      imageClass: require('assets/images/imageClass.webp'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
