<template>
  <v-card>
    <v-tabs
      v-model="tab"
      grow
      show-arrows
      background-color="#8D1632"
      color="white"
    >
      <v-tab v-for="item in items" :key="item">
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item">
        <component
          :is="(component = programmingRoles)"
          v-if="item === items[1]"
        />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import ProgrammingItems from '../programmingrole'
export default {
  name: 'MenuItems',
  components: { ProgrammingItems },
  data: () => ({
    tab: null,
    items: ['Who, Me?', 'Works', 'Interests'],
    programmingRoles: 'ProgrammingItems',
    component: null,
  }),
}
</script>

<style scoped></style>
