<template>
  <div>
    <v-card
      class="mx-auto"
      color="#616161"
      max-width="1000"
      style="margin-bottom: 5%"
    >
      <v-list-item three-line>
        <v-list-item-content class="centerContent">
          <v-list-item-title class="headline mb-1">
            Server/Client Side Development
          </v-list-item-title>
          <v-list-item-action-text style="font-size: large">
            Demonstration of varius tech stacks to build the right kind of
            website
          </v-list-item-action-text>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-img
      :lazy-src="webImage"
      :src="webImage"
      alt="apps img"
      class="mx-auto"
      max-height="700"
      max-width="900"
      style="padding: 2.5%"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <v-list-item style="padding: 2.5%">
        Wanting to explore the various roles as a developer - I began wanting to
        look deeper into the more popular languages, like JavaScript. JavaScript
        was quite confronting to me at first due to it being an inferred
        language. Being used to strongly typed languages like C++, Dart etc. It
        was difficult to just let the compiler do its thing without me strictly
        telling it what it needed to do. I moved from JavaScript in web
        development to utilising JS frameworks such as Vue and Angular. From
        there, topics such as State Management, Routing and server/client
        databases became more and more necessary as a means to complete each
        project.
      </v-list-item>
    </v-card>
    <v-img
      :lazy-src="coKoalaImg"
      :src="coKoalaImg"
      alt="apps img"
      class="mx-auto"
      max-height="700"
      max-width="900"
      style="padding: 2.5%"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <h1>CoKoala</h1>
      <v-list-item style="padding: 2.5%">
        <p>
          <a href="https://www.w3schools.com/" target="_blank">CoKoala</a>
          is the third iteration of my portfolio site. Although I do tend to
          work on backend services, it's now apparent that I should know the
          whole stack in order to debug correctly. The first iteration was
          developed using wordpress, followed by Angular. Since then I've taken
          what I've learned and redeveloped this iteration using Vue with
          Vuetify as my library of choice for the design aspect. Throughout the
          last two iterations, I learned about state management, implementing
          props and dynamic components.
        </p>
      </v-list-item>
    </v-card>
    <v-img
      :lazy-src="eaqlImage"
      :src="eaqlImage"
      alt="apps img"
      class="mx-auto"
      max-height="700"
      max-width="900"
      style="padding: 2.5%"
    />
    <v-card class="mx-auto" color="#616161" max-width="1000" style="margin: 5%">
      <h1>Eaqlibrium</h1>
      <v-list-item style="padding: 2.5%">
        Using the MEVN stack - I created a templated website design that allows
        the client to update all of the content through the database. I used
        Postman and Axios to test and connect to the MongoDB database and
        updated content before observing the mutations in the browser. I was
        also tasked with creating and managing a cloud service in order to host
        and manage the site.
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'WebDev',
  data() {
    return {
      webImage: require('assets/images/PortfolioSS.webp'),
      coKoalaImg: require('assets/images/Portfolio_Front.webp'),
      eaqlImage: require('assets/images/eaqlibriumsinglepage.webp'),
    }
  },
}
</script>

<style scoped>
.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
